/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '得意黑 斜体';
  font-weight: 400;
  src:
    url('//at.alicdn.com/wf/webfont/vaSQSkPs4WM3/14KfjAaf20ez.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/vaSQSkPs4WM3/0RRYdXDz7uZI.woff') format('woff');
  font-variation-settings: normal;
  font-display: swap;
}

.webfont {
  font-family: '得意黑 斜体';
  font-variation-settings: normal; /* Chrome 140 以下版本需要 */
  font-size: 60px;
}
